
<main role="main">
  <section class="container">
    <div class="owl-carousel">
      <div><%= image_tag("carousel/IMG_1927.jpg", alt:'') %></div>
      <div><%= image_tag("carousel/IMG_0261.jpg", alt:'') %></div>
      <div><%= image_tag("carousel/IMG_1979.jpg", alt:'') %></div>
      <div><%= image_tag("carousel/IMG_2046.jpg", alt:'') %></div>
      <div><%= image_tag("carousel/IMG_2071.jpg", alt:'') %></div>
    </div>
  </section>

  <%= render('shared/call_us') %>
</main>

