<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @arm_chair.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @arm_chair.description %>
</p>

<p>
  <strong>Dimensions description:</strong>
  <%= @arm_chair.dimensions_description %>
</p>

<p>
  <strong>Img:</strong>
  <%= @arm_chair.img %>
</p>

<p>
  <strong>Alter:</strong>
  <%= @arm_chair.alter %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @arm_chair.seats %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @arm_chair.shape %>
</p>

<p>
  <strong>Type:</strong>
  <%= @arm_chair.furnishing_type %>
</p>

<p>
  <strong>Is main:</strong>
  <%= @arm_chair.is_main %>
</p>

<%= link_to 'Back', arm_chairs_path %>
