<p id="notice"><%= notice %></p>

<p>
  <strong>Furnishing Type:</strong>
  <%= @armchair.furnishing_type %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @armchair.shape %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @armchair.seats %>
</p>

<p>
  <strong>Name:</strong>
  <%= @armchair.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @armchair.description %>
</p>

<p>
  <strong>Image main</strong>
  <%= @armchair.image_main %>
</p>

<p>
  <strong>Image rollover</strong>
  <%= @armchair.image_rollover %>
</p>

<p>
  <strong>Image dimensions</strong>
  <%= @armchair.image_dimensions %>
</p>

<p>
  <strong>Image other</strong>
  <%= @armchair.image_other %>
</p>

<p>
  <strong>Back:</strong>
  <%= @armchair.back %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @armchair.seat %>
</p>

<p>
  <strong>Is main:</strong>
  <%= @armchair.is_main %>
</p>

<%= link_to 'Back', armchairs_path %>

