<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chair.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chair.description %>
</p>

<p>
  <strong>Dimensions description:</strong>
  <%= @chair.dimensions_description %>
</p>

<p>
  <strong>Img:</strong>
  <%= @chair.img %>
</p>

<p>
  <strong>Alter:</strong>
  <%= @chair.alter %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @chair.seats %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @chair.shape %>
</p>

<p>
  <strong>Type:</strong>
  <%= @chair.furnishing_type %>
</p>

<p>
  <strong>Is main:</strong>
  <%= @chair.is_main %>
</p>

<%= link_to 'Back', chairs_path %>
