<p id="notice"><%= notice %></p>

<p>
  <strong>Furnishing Type:</strong>
  <%= @chair.furnishing_type %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @chair.shape %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @chair.seats %>
</p>

<p>
  <strong>Name:</strong>
  <%= @chair.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chair.description %>
</p>

<p>
  <strong>Image main</strong>
  <%= @chair.image_main %>
</p>

<p>
  <strong>Image rollover</strong>
  <%= @chair.image_rollover %>
</p>

<p>
  <strong>Image dimensions</strong>
  <%= @chair.image_dimensions %>
</p>

<p>
  <strong>Image other</strong>
  <%= @chair.image_other %>
</p>

<p>
  <strong>Back:</strong>
  <%= @chair.back %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @chair.seat %>
</p>

<p>
  <strong>Is main:</strong>
  <%= @chair.is_main %>
</p>

<%= link_to 'Back', chairs_path %>

