<header>
<h1><%= link_to(raw("Balmain <span>and</span> Balmain"), root_path) %></h1>
  <h2>Sofas and Chairs</h2>
  <nav>
    <ul>
      <%= nav_link('sofas', sofas_path) %>
      <%= nav_link('chairs', chairs_path) %>
      <%= nav_link('armchairs', armchairs_path) %>
      <%= nav_link('about us', page_path('about-us')) %>
      <%= nav_link('contact us', page_path('contact-us')) %>
    </ul>
  </nav>
</header>

