<header>
  <h1>Balmain <span>and</span> Balmain</h1>
  <h2>Sofas and Chairs</h2>
  <nav>
    <ul>
      <li><%= link_to('Sofas', sofas_path) %></li>
      <li><%= link_to('Chairs', chairs_path) %></li>
      <li><%= link_to('Armchairs', armchairs_path) %></li>
      <li><%= link_to('About us', armchairs_path) %></li>
      <li><%= link_to('Contact us', armchairs_path) %></li>
    </ul>
  </nav>
</header>

