
<main role="main">
  <section class="container inpage">
    <div class='clip'><%= image_tag(@furnishing.image_rollover, { id:'catimg', alt:'' }) %></div>
    <h2><%= @furnishing.name %></h2>
  	<p><%= @furnishing.description %></p>
  </section>
  <section class="container inpage">
    <%= image_tag(@furnishing.image_main, { alt:'' }) %>
  </section>
  <div class='wizard'>
  	<%= image_tag(@furnishing.image_dimensions, { alt:'' }) %>
  </div>

  <%= render('shared/call_us') %>
</main>

