
<main role="main">
  <section class="container inpage">
  <% unless @page.image_side.to_s.empty? %>
    <div class='clip'><%= image_tag(@page.image_side, { alt:'', 'data-pin-no-hover' => true }) %></div>
  <% end %>
    <h2><%= @page.title %></h2>
    <%= raw(convert_to_markdown(@page.content)) %>
    </div>
  </section>

  <%= render('shared/newsletter') %>
  <%= render('shared/call_us') %>
</main>

