<h1>Listing sofas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Dimensions description</th>
      <th>Img</th>
      <th>Alter</th>
      <th>Seats</th>
      <th>Shape</th>
      <th>Type</th>
      <th>Is main</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @sofas.each do |sofa| %>
      <tr>
        <td><%= sofa.name %></td>
        <td><%= sofa.description %></td>
        <td><%= sofa.dimensions_description %></td>
        <td><%= sofa.img %></td>
        <td><%= sofa.alter %></td>
        <td><%= sofa.seats %></td>
        <td><%= sofa.shape %></td>
        <td><%= sofa.furnishing_type %></td>
        <td><%= sofa.is_main %></td>
        <td><%= link_to 'Show', sofa_path(sofa) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

