

<%= render('shared/header') %>

<main role="main">
  <section class="container inpage">
    <div class='clip'><%= image_tag('IMG_1968.jpg', { id:'catimg', alt:'' }) %></div>
    <ul id='linklist'>
      <li><%= link_to('Avon',   '', { :'data-src' => asset_path('IMG_1968.jpg') } ) %></li>
      <li><%= link_to('Dart',   '', { :'data-src' => asset_path('IMG_2091.jpg') } ) %></li>
      <li><%= link_to('Frome',  '', { :'data-src' => asset_path('IMG_1979.jpg') } ) %></li>
      <li><%= link_to('Hamble', '', { :'data-src' => asset_path('IMG_2046.jpg') } ) %></li>
      <li><%= link_to('Stour',  '', { :'data-src' => asset_path('IMG_2071.jpg') } ) %></li>
      <li><%= link_to('Wylye',  '', { :'data-src' => asset_path('IMG_2071.jpg') } ) %></li>
    </div>
  </section>
  <p class='cta'><span>Call us now:</span> 01672 870 414</p>
</main>


