<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sofa.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sofa.description %>
</p>

<p>
  <strong>Imgs</strong>
  <%= @sofa.imgs %>
</p>

<p>
  <strong>Img:</strong>
  <%= @sofa.img %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @sofa.seats %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @sofa.shape %>
</p>

<p>
  <strong>Furnishing Type:</strong>
  <%= @sofa.furnishing_type %>
</p>

<p>
  <strong>Is main:</strong>
  <%= @sofa.is_main %>
</p>

<%= link_to 'Back', sofas_path %>
