<%= form_for(@furnishing) do |f| %>
  <% if @furnishing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@furnishing.errors.count, "error") %> prohibited this furnishing from being saved:</h2>

      <ul>
      <% @furnishing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :furnishing_type %><br>
    <%= f.text_field :furnishing_type %>
  </div>
  <div class="field">
    <%= f.label :seats %><br>
    <%= f.text_field :seats %>
  </div>
  <div class="field">
    <%= f.label :shape %><br>
    <%= f.text_field :shape %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_main %><br>
    <%= f.text_field :image_main %>
  </div>
  <div class="field">
    <%= f.label :image_rollover %><br>
    <%= f.text_field :image_rollover %>
  </div>
  <div class="field">
    <%= f.label :image_dimensions %><br>
    <%= f.text_field :image_dimensions %>
  </div>
  <div class="field">
    <%= f.label :image_other %><br>
    <%= f.text_field :image_other %>
  </div>
  <div class="field">
    <%= f.label :back %><br>
    <%= f.text_field :back %>
  </div>
  <div class="field">
    <%= f.label :seat %><br>
    <%= f.text_field :seat %>
  </div>
  <div class="field">
    <%= f.label :is_main %><br>
    <%= f.check_box :is_main %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
