<p id="notice"><%= notice %></p>

<p>
  <strong>Furnishing Type:</strong>
  <%= @furnishing.furnishing_type %>
</p>

<p>
  <strong>Shape:</strong>
  <%= @furnishing.shape %>
</p>

<p>
  <strong>Seats:</strong>
  <%= @furnishing.seats %>
</p>

<p>
  <strong>Name:</strong>
  <%= @furnishing.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @furnishing.description %>
</p>

<p>
  <strong>Image main</strong>
  <%= @furnishing.image_main %>
</p>

<p>
  <strong>Image rollover</strong>
  <%= @furnishing.image_rollover %>
</p>

<p>
  <strong>Image dimensions</strong>
  <%= @furnishing.image_dimensions %>
</p>

<p>
  <strong>Image other</strong>
  <%= @furnishing.image_other %>
</p>

<p>
  <strong>Back:</strong>
  <%= @furnishing.back %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @furnishing.seat %>
</p>

<p>
  <strong>Is main:</strong>
  <%= @furnishing.is_main %>
</p>

<%= link_to 'Edit', edit_furnishing_path(@furnishing) %> |
<%= link_to 'Back', furnishings_path %>

