<!doctype html>
<html class='no-js'>
  <head>
    <title>Balmain and Balmain Traditional Bespoke Furniture</title>
    <%= stylesheet_link_tag "application-all", media: "all" %>
    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag "application-all" %>
    <!--[if lte IE 8]>
    <%= stylesheet_link_tag "application-ie", media: "all" %>
    <%= javascript_include_tag "application-ie" %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag "application-ie", media: "all" %>
    <%= javascript_include_tag "application-ie" %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= render :partial => "shared/analytics" %>
  </head>
  <body>

    <%= render('shared/header') %>
    <%= yield %>

    <footer>
    <br/>
    <br/>
    <ul>
      <% list_tags.each do |atag| %>
      <li><%= link_to(atag.name, tag_path(atag)) %></li>
      <% end %>
    </ul>
    <span><%= @profile.company %> <%= @profile.address %><br /><%= @profile.copyright %></span>
    </footer>

    <div class='social'><a href="<%= @profile.facebook %>" class='fb'>facebook</a><a href='<%= @profile.twitter %>' class='tw'>twitter</a><a href='<%= @profile.pintrest %>' class='pi'>pinterest</a></div>
    <div class='socialPhone'><%= @profile.phone %></div>

    <script async defer src="//assets.pinterest.com/js/pinit.js" data-pin-hover="true"></script>
  </body>
</html>
