<!doctype html>
<html>
  <head>
    <title>Balmain and Balmain Traditional Bespoke Furniture</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render('shared/header') %>
    <%= yield %>

    <footer>
    <ul>
      <% list_tags.each do |atag| %>
      <li><%= link_to(atag.name, tag_path(atag)) %></li>
      <% end %>
    </ul>

    <span><%= @profile.company %> <%= @profile.address %><br />(c) 2013 Balmain &amp; Balmain</span>
    </footer>
    <div class='social'><a href="<%= @profile.facebook %>" class='fb'>facebook</a><a href='<%= @profile.twitter %>' class='tw'>twitter</a><a href='<%= @profile.pintrest %>' class='pi'>pinterest</a></div>

  </body>
</html>
