<!doctype html>
<html>
  <head>
    <title>Balmain and Balmain Traditional Bespoke Furniture</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= yield %>

    <footer>
    <ul>
      <li><%= link_to("Bespoke furniture", "") %></li>
      <li><%= link_to("Handmade sofas", "") %></li>
      <li><%= link_to("Armchairs", "") %></li>
      <li><%= link_to("Classic furniture", "") %></li>
      <li><%= link_to("Traditional chairs", "") %></li>
      <li><%= link_to("Footstools", "") %></li>
      <li><%= link_to("Custom Upholstery", "") %></li>
      <li><%= link_to("English furniture", "") %></li>
      <li><%= link_to("Wingback Armchair", "") %></li>
      <li><%= link_to("Chesterfield", "") %></li>
      <li><%= link_to("Queen Anne Chair", "") %></li>
    </ul>
    <span><%= @profile.company %> <%= @profile.address %><br />(c) 2013 Balmain &amp; Balmain</span>
    </footer>
    <div class='social'><a href="<%= @profile.facebook %>" class='fb'>facebook</a><a href='<%= @profile.twitter %>' class='tw'>twitter</a><a href='<%= @profile.pintrest %>' class='pi'>pinterest</a></div>

  </body>
</html>
